pipeline/copying_data_excel_table.json
{
	"name": "copying_data_excel_table",
	"properties": {
		"description": "To load data from multiple excel sheets to multiple SQL table using azure data factory.",
		"activities": [
			{
				"name": "lkp_config_sheets",
				"description": "lkp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AZsql_DS",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "lk_config"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop through excel sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_config_sheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_config_sheets').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_sheets",
							"description": "copying multiple sheets from excel workbook to multiple tables.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "excel_ds",
									"type": "DatasetReference",
									"parameters": {
										"sheet_name": {
											"value": "@item().sheet_name",
											"type": "Expression"
										},
										"File_name": "PlayersData.xlsx"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AZsql_DS",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().sheet_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-01-04T14:31:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}