pipeline/get_subfolders_files.json
{
	"name": "get_subfolders_files",
	"properties": {
		"activities": [
			{
				"name": "get list of files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_1",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@pipeline().parameters.Path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loop through subfolders and files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get list of files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get list of files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Path": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-26T11:54:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}