pipeline/get_subfolders.json
{
	"name": "get_subfolders",
	"properties": {
		"description": "creating pipeline to het list of sub folders and files",
		"activities": [
			{
				"name": "subfolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_1",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@concat(pipeline().parameters.dir1,'/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loop through sub folders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "subfolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('subfolder').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "get_subfolders_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Path": {
										"value": "@concat(pipeline().parameters.dir1,'/',item().name,'/')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dir1": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-26T15:50:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}