pipeline/Load API Data.json
{
	"name": "Load API Data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Web1').output.data.Token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl.value": "RANGE:0:1000:",
							"EndCondition:$.data": "Empty"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "user_id"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "['email']"
								},
								"sink": {
									"name": "email"
								}
							},
							{
								"source": {
									"path": "['profilepicture']"
								},
								"sink": {
									"name": "Profile_Picture"
								}
							},
							{
								"source": {
									"path": "['location']"
								},
								"sink": {
									"name": "location"
								}
							},
							{
								"source": {
									"path": "['createdat']"
								},
								"sink": {
									"name": "create_date"
								}
							}
						],
						"collectionReference": "$['data']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "Rest_Token_Pages_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_jpu",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://restapi.adequateshop.com/api/authaccount/login",
					"method": "POST",
					"body": {
						"email": "srilatha12@gmail.com",
						"password": "srilatha12"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-29T12:13:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}