pipeline/Load_json_data_token.json
{
	"name": "Load_json_data_token",
	"properties": {
		"description": "Working with Token based REST API in Azure Data Factory",
		"activities": [
			{
				"name": "Login_user",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://restapi.adequateshop.com/api/authaccount/login",
					"method": "POST",
					"body": {
						"email": "srilatha12@gmail.com",
						"password": "srilatha12"
					}
				}
			},
			{
				"name": "Get Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Login_user",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://restapi.adequateshop.com/api/users",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Login_user').output.data.Token}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Loop through pages",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@Range(1,3)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data API Data to a table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "Bearer @{activity('Login_user').output.data.Token}",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "user_id"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "user_name"
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"name": "user_email"
											}
										},
										{
											"source": {
												"path": "['profilepicture']"
											},
											"sink": {
												"name": "user_profile_picture"
											}
										},
										{
											"source": {
												"path": "['location']"
											},
											"sink": {
												"name": "user_location"
											}
										},
										{
											"source": {
												"path": "['createdat']"
											},
											"sink": {
												"name": "cretedat"
											}
										}
									],
									"collectionReference": "$['data']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "Rest_Token_Pages_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "employeedataset",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-29T12:13:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}